.images {
    width: 60px;
}

.navbar {
    background-color: #19181A;
}

.navbar-brand {
    font-weight: 700;
    font-size: 30px;
}

#sec {
    padding-top: 6%;
    padding-bottom: 5%;
    color: white;
    background-color: #19181A;
}

#sec .detail {
    text-align: justify !important;
    text-align: center;
}

#sec .details {
    padding-top: 40px !important;
}

.carousel-item {
    transition: 3s !important;
}

.display-5 {
    color: #4ecdc4 !important;
}

#sec2 {
    background-color: #F0EBF4;
}

#specification {
    background-color: #F0EBF4;
}

.spec-content {
    border: 1px black solid;
}

#mapForm {
    background-color: #F0EBF4;
}

#icons {
    padding: 5px !important;
    border: 1px white solid;
    border-radius: 18px;
}

#foot {
    background-color: #19181A;
}

.socialMedia a {
    padding: 4px;
    color: #c9d6d4;
}

.socialMedia h5 {
    color: white;
}

.socialMedia a:hover {
    color: #0d6efd;
}

#icons:hover {
    border: 1px #0d6efd solid !important;
    transform: scale(1.3);
}

#navigationMenu:hover {
    transform: scale(1.2);
    color: white;
}
